body {
    color: #5a5a5a;
    min-width: 320px;
    padding-top: 100px;
}

.pre-header {
    background-color: #3A375A;
    height: 30px;
    top: 70px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1020;
}

.logoText {
    display: none;
}

.logo-home {
    width: 100px;
    margin-top: -30px;
    position: absolute;
    border-radius: 75px;
    border: 2px solid #3A3559;
}


/* general HD specific styles*/
@media (max-width: 767px) {
    .navbar-brand > img {
        display: none;
    }

    .navbar-custom {
        height: auto !important;
        margin: auto;
    }

    .logoText {
        display: block;
        color: #0088fd;
        font-size: 80%;
    }

    .logoText > span {
        color: #88fd00;
    }

    .pre-header {
        display: none;
    }

    body {
        padding-top: 55px;
    }
}


.navbar-custom {
    height: 70px;
    margin-bottom: 30px;
    background-color: #2B2641;
    font-size: 90%;
}

.nav-link {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.carousel-item > a {
    width: 100%;
}

.carousel-item > a > img {
    width: 100%;
}

.thumbnail {
    height: auto;
}

.thumbnail a:hover {
    text-decoration: none;

}

.thumbnail a:hover > p.title {
    color: #007bff;
}

.thumbnail img {
    width: 100%;
    margin-bottom: 10px;
}

.thumbnail p {
    margin: 5px 0;
}

.thumbnail p.title {
    color: #766ab0;
    text-overflow: ellipsis;
}

.thumbnail .subtitle {
    color: #888;
    font-size: 80%;
}

.sub-banner {
    height: 50px;
}

.sub-count-wrapper {
    background-color: #F8C80F;
}

.sub-count {
    max-width: 600px;
    margin-right: 50px;
}

.sub-count-val {
    font-size: 300%;
    margin: 0;
}

.vu-count {
    font-size: 200%;
    margin: 0;
}

.sub-action-wrapper {
    background-color: #3A375A;
}


.sub-action {
    font-size: 150%;
    max-width: 700px;
    color: #ddd;
}


/*Player specific style for hd displays*/
@media(min-width:1065px) {

    .vid-container {
        height: 600px;
        width: 1065px;
        padding-bottom: 0px !important;
        margin: 0 auto;
    }
}


/*Styles for Home banner and article snippet wrapper*/
@media (max-width: 1199px) {

    .vu-count,
    .sub-action {
        font-size: 160%;
    }

    .sub-count-val {
        font-size: 250%;
    }
}

@media (max-width: 991px) {

    .vu-count,
    .sub-action {
        font-size: 130%;
    }

    .sub-count-val {
        font-size: 200%;
    }

    .article-snippet-wrapper h4 {
        margin-top: 20px;
        font-size: 150%;
        line-height: 30px !important;
    }

    .article-snippet-wrapper p {
        font-size: 100%;
        line-height: 30px !important;
    }
}

@media (max-width: 800px) {

    .vu-count,
    .sub-action {
        font-size: 110%;
    }

    .sub-count-val {
        font-size: 180%;
    }

    .article-snippet-wrapper h4 {
        font-size: 110%;
        margin-top: 10px;
    }

    .article-snippet-wrapper p {
        font-size: 90%;
        line-height: 25px !important;
    }
}

@media (max-width: 370px) {

    .vu-count,
    .sub-action {
        font-size: 100%;
    }

    .sub-count-val {
        font-size: 130%;
    }
}

/*Styles for thumbnails and video title*/
@media (max-width: 575px) {
    .thumbnail img {
        width: 200px;
        float: left;
        margin-right: 20px;
    }

    .thumbnail p.title {
        overflow: hidden;
        line-height: 25px;
        max-height: 100px;
    }

    .thumbnail .subtitle .elapsed-time,
    .thumbnail .subtitle .bullet-point {
        display: none;
    }

    .vid-title {
        font-size: 110%;
        line-height: 25px !important;
    }
}

@media (max-width: 405px) {
    .thumbnail img {
        width: 140px;
        margin-right: 10px;
    }

    .thumbnail p.title {
        overflow: hidden;
        line-height: 20px;
        max-height: 60px;
    }

    .thumbnail p {
        font-size: 80%;
    }
}

.footer-wrapper {
    background-color: #3A375A;
    padding: 20px 0;
    min-height: 100px;
}

.footer-options {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-options div {
    margin: 10px;
    display: inline-block;

}

.footer-options div a {
    color: #efefef;
}

.copyright-wrapper {
    padding: 10px 20px;
    text-align: center;
    color: #aaa;
    background-color: #2B2641;
}


.vid-container-wrapper {
    margin-bottom: 20px;
    padding: 0;
    background-color: black;
}

.vid-container {
    position: relative;
    padding-bottom: 56.25%;
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid-title {
    line-height: 40px;
    margin: 0;
}

.social_buttons {
    margin-bottom: 20px;
}


#twitter-widget-0 {
    position: relative !important;
    top: 6px;
}

.vid-description {
    font-size: 90%;
    line-height: 20px;
    height: 60px;
    margin: 0px;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
}

.about-wrapper {
    font-size: 120%;
    margin-top: 50px;
    line-height: 35px;
}

.article-wrapper {
    font: 'Catamaran', sans-serif;
}

.article-wrapper p {
    line-height: 30px;
}

.article-wrapper p.subtext {
    line-height: 20px;
    margin-bottom: 30px;
    color: #777;
    text-align: center;
    font-size: 80%;
}

.article-wrapper .article-img,
.article-wrapper .video-link {
    width: 100%;
    margin: 0px 10px;
}

.article-wrapper p.published-by {
    margin: 0;
    padding: 0;
    font-size: 85%;
}

.article-wrapper h4 {
    line-height: 45px;
    margin: 0px;
    font-weight: 500;
    color: #766ab0;
}

@media (min-width:756px) {

    .article-wrapper .article-img,
    .article-wrapper .video-link {
        margin: 0 auto;
    }

    .article-wrapper p.subtext {
        width: 500px;
        display: block;
        font-size: 100%;
        margin: 0 auto;
        line-height: 30px;
    }

    .article-wrapper p {
        font-size: 110%;
    }
}

.article-banner {
    padding: 10px;
    background-color: #F8C80F;
    color: #4B4566;
    margin-bottom: 15px;
    font-size: 100%;
}

.article-banner .details {
    font-size: 90%;
    line-height: 25px;
}

.article-banner .splasher {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.likecommentstat {
    float: right;
    padding-right: 50px;
    font-size: 90%;
}

.likecommentstat .fa {
    font-size: 180%;
}

.likecountstat {
    margin-right: 10px;
}

.video-publish-date {
    font-size: 85%;
    margin: 10px 0px;
}


.video-link {
    display: block;
    position: relative;
}

.video-link img {
    position: relative;
    display: block;
    width: 100%;
}

.video-link .play-button {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 43%;
    top: 40%;
}

.call-action {
    font-size: 140%;
    color: red;
    line-height: 35px !important;
}

.article-snippet {
    background-color: white;
}

.article-snippet-wrapper h4 {
    font-size: 130%;
    color: #766ab0;
    line-height: 35px !important;
}

.article-snippet-wrapper p {
    font-size: 100%;
    line-height: 25px;
}

.videos-bg {
    background-color: #eee;
    padding: 30px 0px;
}

.article-heading {
    color: #766ab0;
}

.article-snippet a {
    color: inherit;

}

.article-snippet a:hover .article-snippet-wrapper h4,
.article-snippet a:hover {
    text-decoration: none;
    color: #007bff;
}

.card a {
    color: inherit;
}

.card a:hover .card-title,
.card a:hover {
    color: #007bff;
    text-decoration: none;
}

.card-title {
    color: #766ab0;
}

.author-thumbnail {
    width: 50px;
}

.card-age {
    margin-bottom: 5px;
}

.subtext-emphasis {
    font-style: italic;
}
